* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

main {
    min-height: 100vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    background-color: #190b6d;
}

article {
    width: 100%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 5rem;
    color: aliceblue;
    text-transform: uppercase;
}

p {
    color: aliceblue;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.round {
    width: 80%;
    height: 30vh;
    background-color: rgb(124, 10, 10);
    border-radius: 200px 20px 0px 0px;
}

.compute-font-size {
    margin-top: 1.4rem;
}

.compute-font-size button {
    padding: 1.3rem;
    font-size: 1.5em;
    margin: 0.6rem;
}

/* user record section */

.user-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-inline: 1rem;
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4), 
        -10px -10px 10px rgba(255, 255, 255, 0.4);
    padding: 1.2rem;
}

caption {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
}

table, th, td {
    border: 3px solid #190b6d;
    border-collapse: collapse;
}

th {
    padding: 1.5rem;
    font-size: 1.4rem;
}

td { 
    padding: 1rem;
}